.main_wrap{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: flex-start;
}
.header{
	display: flex;
	flex-direction: column;
	background-color: $color1;
	width: 100%;
	font-family: $fontfam;
	&__top{
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: $color3;
		padding: 0 5%;
		box-sizing: border-box;
		@include laptop{
			justify-content: center;
		}
		@include tablets{
			justify-content: center;
		}
		@include phones{
			justify-content: center;
		}
		.social-links{
			width: 50%;
			@include laptop{
				display: none;
			}
			@include tablets{
				display: none;
			}
			@include phones{
				display: none;
			}
			&__list{
				display: flex;
				font-size: 16px;
				.list-link{
					/*padding: 10px 10px;*/
					&:hover .link{
						transition: 0.5s ease;
					}
					&:hover .link__facebook{
						color: green;
					}
					&:hover .link__twitter{
						color: blue;
					}
					&:hover .link__pinterest{
						color: red;
					}
					&:hover .link__instagram{
						color: orange;
					}
					&:hover .link__linkedin{
						color: blue;
					}
					.link{
						text-decoration: none;
						color: $color2;
						display: block;
						padding: 10px 10px;
					}
				}
			}
		}
		.language-currency-account{
			display: flex;
			align-items: center;
			.lang{
				@include drop_lang;
			}
			.currency{
				@include drop_lang;
				&:hover .currency-list{
					display: block;
					border: 1px solid $color4;
				}
				.currency-selection{
					display: flex;
					&-text{
						display: flex;
						padding-right: 10px;
						box-sizing: border-box;
						&-value{
							padding-right: 10px;
							box-sizing: border-box;
						}
					}
				}
				.currency-list{
					&-item{
						&:hover .currency-list-item-link{
							color: $color4;
							transition: 0.5s ease;
						}
					}
				}
				.currency-list-item-link{
					display: flex;
				}
			}
			.account{
				@include drop_lang;
				@include laptop{
					display: none;
				}
				@include tablets{
					display: none;
				}
				@include phones{
					display: none;
				}
			}
		}
	}
	.center{
		display: flex;
		align-items: center;
		justify-content: space-between;
		background-color: $color1;
		padding: 2% 5%;
		box-sizing: border-box;
		width: 100%;
		/*@include laptop{
			justify-content: center;
		}
		@include tablets{
			justify-content: center;
		}
		@include phones{
			justify-content: center;
		}*/
		&__adaptive-block{
			width: 15%;
			display: flex;
			justify-content: space-around;
			@include desktopLarge{
				display: none;
			}
			@include desktop{
				display: none;
			}
			&-link{
				text-decoration: none;
				color: $color9;
				font-size: 20px;
				font-weight: 400;
			}
		}
		&__image-block{
			@include laptop{
				align-self: center;
			}
			@include tablets{
				align-self: center;
			}
			@include phones{
				align-self: center;
			}
			&-link{
				display: block;
				&-image{
					display: block;
					@include laptop{
						width: 60%;
						margin: 0 auto;
					}
					@include tablets{
						width: 60%;
						margin: 0 auto;
					}
					@include phones{
						width: 60%;
						margin: 0 auto;
					}
				}
			}
		}
		&__search{
			font-size: 16px;
			@include laptop{
				display: none;
			}
			@include tablets{
				display: none;
			}
			@include phones{
				display: none;
			}
			&-form{
				&-input{
					padding: 15px 150px 15px 10px;
					font-weight: 400;
					border: 1px solid $color5;
					border-radius: 4px;
					color: $color6;
					box-sizing: border-box;
					font-size: 14px;
				}
				&-button{
					padding: 15px 25px;
					font-weight: 400;
					border: 1px solid transparent;
					border-radius: 4px;
					color: $color1;
					background-color: $color7;
					box-sizing: border-box;
					text-transform: uppercase;
					box-sizing: border-box;
					font-size: 14px;
					&:hover{
						background-color: $color8;
						transition: 0.5s ease;
					}
				}
			}
		}
		&__basket{
			display: flex;
			@include laptop{
				display: none;
			}
			@include tablets{
				display: none;
			}
			@include phones{
				display: none;
			}
			&-email{
				@include desktop{
					display: none;
				} 
				&-link{
					display: flex;
					align-items: center;
					text-decoration: none;
					color: $color8;
					padding-right: 15px;
					&:hover .envelope{
						background-color: $color7;
						color: $color1;
						transition: 0.5s ease;
					}
					&-envelope{
						font-size: 30px;
						padding: 15px;
						border-radius: 50%;
						border: 1px solid $color7;
					}
					&-text{
						padding-left: 10px;
						font-size: 14px;
						color: $color9;
						&-adress{
							margin-top: 5px;
						}
					}
				}
			}
			&-shop{
				&-link{
					display: flex;
					align-items: center;
					text-decoration: none;
					color: $color8;
					padding-right: 15px;
					&:hover .cart{
						background-color: $color7;
						color: $color1;
						transition: 0.5s ease;
					}
					&-cart{
						font-size: 30px;
						padding: 15px;
						border-radius: 50%;
						border: 1px solid $color7;
					}
					&-text{
						padding-left: 10px;
						font-size: 14px;
						color: $color9;
						&-adress{
							margin-top: 5px;
						}
					}
				}
			}
		}
	}
	.bottom{
		background-color: $color10;
		width: 100%;
		padding: 0 5%;
		box-sizing: border-box;
		color: $color1;
		display: flex;
		justify-content: flex-start;
		@include laptop{
			display: none;
		}
		@include tablets{
			display: none;
		}
		@include phones{
			display: none;
		}
		&__categories{
			flex-grow: 1;
			position: relative;
			&-top{
				background-color: $color7;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 15px;
				border-radius: 4px;
				margin: 5px 0px;
				font-size: 14px;
				box-sizing: border-box;
				&-head{
					margin-left: 5px;
				}
			}
			&-list{
				background-color: $color1;
				border-radius: 4px;
				margin-right: 10px;
				position: absolute;
				width: 100%;
				border: 1px solid $color7;
				&-item{
					border-top: 1px solid $color7;
					position: relative;
					&:hover .bottom__categories-list-item-menu{
						display: flex;
					}
					&-link{
						color: $color9;
						text-decoration: none;
						text-transform: uppercase;
						font-size: 14px;
						font-weight: 400;
						display: block;
						padding: 15px;
						&:hover{
							color: $color7;
							transition: 0.5s ease;
						}
						&-flex{
							display: flex;
							justify-content: space-between;
							align-items: center;
						}
					}
					&-menu{
						position: absolute;
						background-color: $color1;
						left: 100%;
						top: 0;
						display: none;
						flex-direction: column;
						padding: 5px;
						border: 1px solid $color7;
						border-left: 2px solid $color7;
						z-index: 5;
						&-image{
							display: block;
							margin-top: 10px;
						}
						&-list-block{
							display: flex;
							justify-content: flex-start;
							&-list{
								width: 30%;
								&-item{
									& .head-link{
										font-size: 15px;
										font-weight: 600;
										padding: 15px;
									}
									&-link{
										color: $color9;
										text-decoration: none;
										font-size: 14px;
										font-weight: 400;
										display: block;
										padding: 10px;
									}
								}
							}
						}
					}
				}
			}
		}
		&__center-menu{
			display: flex;
			align-items: center;
			flex-grow: 2;
			@include desktop{
				position: relative;
				&:hover .bottom__center-menu-list{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				position: absolute;
				background-color: $color1;
				top: 100%;
				left: 20px;
				border: 1px solid $color7;
					&-item{
						&-link{
							color: $color9;
							padding: 15px;
							display: block;
						}
					}
				}
			}
			&-adaptation{
				display: none;
				font-size: 14px;
				@include desktop{
					display: block;
					margin-left: 20px;
				}

				&-link{
					color: $color1;
					text-decoration: none;

					&-head{
						margin-left: 10px;
					}
				}	
			}
			&-list{
				display: flex;
				align-items: center;
				justify-content: center;
				@include desktop{
					display: none;
				}
				&-item{
					position: relative;
					&:hover > .bottom__center-menu-list-item-link{
						color: $color7;
						transition: 0.5s ease;
					}
					&:hover > .bottom__center-menu-list-item-droplist{
						opacity: 1;
						top: 100%;
						transition: 1s ease;
						@include desktop{
							display: none;
						}
					}
					&-link{
						color: $color1;
						text-decoration: none; 
						padding: 15px;
						font-size: 14px;
						&-drop{
							margin-right: 5px;
							&-arrow{
								@include desktop{
									display: none;
								}
							}
						}
					}
					&-droplist{
						position: absolute;
						background-color: $color1;
						border: 1px solid $color11;
						display: block;
						top: 200%;
						z-index: 2;
						opacity: 0;
						&-item{
							&-link{
								color: $color9;
								text-decoration: none;
								padding: 10px 50px 10px 15px;
								display: block;
								font-size: 14px;
								font-weight: 400;
							}
						}
					}
				}
			}
		}
		&__sale-animation{
			display: flex;
			align-items: center;
			flex-grow: 1;
			&-sign{
				font-size: 30px;
				border: 1px solid $color7;
				padding: 5px;
				border-radius: 50%;
				color: $color7;
				margin-right: 15px;
			}
			&-link{
				color: $color1;
				text-decoration: none;
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
}
.main{
	flex-grow: 1;
}
.footer{
	width: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
	font-family: $fontfam;
	font-weight: 400;
	font-size: 14px;
	&__info{
		background-color: rgba(255, 255, 255, 0.1);
		display: flex;
		flex-direction: flex-start;
		align-items: center;
		justify-content: space-around;
		&-store{
			@include footer_block;
		}
		&-account{
			@include footer_block;
			&-list-item-icon{
				color: $color6;
				margin-right: 5px;
				font-size: 10px;
			}
		}
		&-products{
			@include footer_block;
			&-list-item-icon{
				color: $color6;
				margin-right: 5px;
				font-size: 10px;
			}
		}
		&-company{
			@include footer_block;
			&-list-item-icon{
				color: $color6;
				margin-right: 5px;
				font-size: 10px;
			}
		}
		&-feedback{
			color: $color6;
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 20%;
			background-color: rgba(255, 255, 255, 0.2);
			padding: 15px;
			&-quotes{
				font-size: 50px;
				color: $color7;
			}
			&-comment{
				font-weight: 400;
				font-family: $fontfam;
				font-size: 14px;
				line-height: 1.5;
				text-align: center;
				margin-bottom: 15px;
			}
			&-profile{
				margin-bottom: 15px;
				&-foto{
					background-image: url(../images/footer-foto.png);
					width: 100px;
					height: 100px;
					border-radius:50%;
					}
			}
			&-switcher{
				margin-bottom: 15px;
				&-button{
					width: 10px;
					height: 10px;
					border-radius: 50%;
					border: 1px solid $color1;
					background-color: $color1;
					padding: 0;
				}
			}
		}
	}
	&__subscribe{
		
	}
}

